<a href="https://colab.research.google.com/github/Aniket3736/Minor-Project-2/blob/main/News_WebScraping_IndiaToday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the libararies
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request
import time

In [2]:
#Create lists to store the scrapped data
paragraph_statements = []
quote_statements = []

In [3]:
#Create a function to scrape the website
def scrape_website(page_number):
  page_num = str(page_number)
  URL = 'https://www.indiatoday.in/india?page='+page_num
  webpage = requests.get(URL)
  soup = BeautifulSoup(webpage.text, 'html.parser')

#Get the location of the information
  statement_quote = soup.find_all('div',attrs = {'class': 'detail'}) #Location of the statement

#Loop through the statement_quote
  for i in statement_quote:
    link2 = i.find_all('a')
    link3 = i.find_all('p')
    statement_text_quote = link2[0].text.strip()
    statement_text_paragraph = link3[0].text.strip()
    quote_statements.append(statement_text_quote)
    paragraph_statements.append(statement_text_paragraph)

In [12]:
#Loop through n to 'm-1' webpages to scrape the data
n,m = 501,502
for i in range(n,m):
  scrape_website(i)

In [9]:
#Create the dataframe
data = pd.DataFrame(columns = ['quotes','paragraph'])
data['quotes'] = quote_statements
data['paragraph'] = paragraph_statements

#show the data
data

,quotes,paragraph
0,"You’re trustee of state, but looted it: Raghub...",Taking a dig at Jharkhand Chief Minister Heman...
1,Youth Congress workers stage protest against B...,Youth Congress workers in Bhopal clashed with ...
2,National level action plan need of the hour to...,Aaditya Thackeray stressed the need for a Nati...
3,CBI arrests its four officers on corruption ch...,CBI arrested four of its own sub-inspectors on...
4,Kashmiri Pandit killed by terrorists in J&K's ...,"A Kashmiri Pandit, Rahul Bhat, was shot at by ..."
...,...,...
99,Allahabad HC rejects plea seeking to open 22 c...,The Allahabad High Court has rejected the peti...
100,Haryana labourer with two fans and bulbs gets ...,A poor labourer from Fatehabad having two bulb...
101,Golden tiger spotted in Assam’s Kaziranga Nati...,A rare species of golden tiger was spotted by ...
102,Who were behind Mohali blast? 3 days after inc...,A rocket-propelled grenade (RPG) was fired at ...
103,"IAS Pooja Singhal took bribes, recovered cash ...",IAS officer Pooja Singhal's CA on Thursday rev...